# AWS
.aws-sam
samconfig.toml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylibaz
events/example_whoami.json

# Other files (use this if you want to make backups or store private notes/scripts/etc.)
_ignored/

# DynamoDB items
*.dynamodb.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VisualStudioCode
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace
*.gitconfig
# VisualStudioCode Patch
# Ignore all local history of files
.history
.ionide

# MacOS
.DS_Store
.idea

samconfig.yaml
scripts/badges/__pycache__/create.cpython-39.pyc
